/* here is our globel css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --primary-color:  #001f3f ;
  --secondary-color: #C8102E;
  --text-color: #333;
  --bg-color: #fff;
  --font-family: 'Inter', sans-serif;
} */

/* Reset + Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
} */

@layer base {
  body {
    @apply font-montserrat;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* Hide scrollbar for tablet & desktop */
@media (min-width: 640px) {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
